
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

header{
    position: fixed;
}

.sticky-footer{
    position: sticky;
    top:100%;
    padding: 0 0 0 20px;
    background: teal;
}

.logo{
    /* margin-top: 1em; */
}


img {
    /* max-width: 100%; */
    /* height: auto; */
  } 

  .align-left{
    float: left;
    display: block;
    text-align: left;
    margin-bottom: 10px;
  }

  .align-right{
       float: right;
       display: block;
       margin-right: 30px; 
       text-align: left;
  }

  a{
    text-decoration: none;
  }

  ul{
    list-style: none;
  }

nav a{
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: teal;
    width: 100vw;
  }
      

.home span{
    display: block;
} 

.home{
    width: 100%;
    overflow: hidden;
    padding: 10em 2em 5em 2em;
    text-align: center;
}

.home .android img{
    width: 20vh;    
}

.phone{
    float: right; 
}

.phone img{
    
   height: 20em;
   width: 50vh;

}

.home-left-content{
    float: left;
    font-size: 0.5rem;
    padding: 10vw 10vw 0 10vw;
}

div.division{
    padding: 0 5vw 10vw 5vw;
}

p.footer{
    
    display: inline-block;
    clear: both;
    padding-right: 50px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5px .75px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: teal;
    border: 2px solid teal;
  }
  
  .button1:hover {
    background-color: teal;
    color: white;
  }

  .icon{
    width: 5vh;
    vertical-align:middle;
  }

  .brand{
    vertical-align:middle;
    margin: 5px 0 0 10px;
    font-weight: 600;
    font-size: 3.5vh;
    color: white;
    }

     .contact{
        padding: 10px;
        /* margin: 50px; */
    } 

    .contact p{
        padding: 0;
        margin: 0;
    }